<ng-template #personTemplate>
  <h1>Liste des patients</h1>
    <div class="table-list-person" style="width: 100%;">
      <div class="input-group" style="width: 300px; margin-bottom: 50px; margin-top: 50px;">
        <input type="search" [(ngModel)]="searchTerm"  class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        <button disabled type="button" class="btn btn-outline-primary">search</button>
      </div>
      <div *ngIf="persons.length > 0">
        <table class="table" id="datatable" style="width: 780px;">
            <thead>
              <tr>
                <th></th>
                <th>Nom</th>
                <th>Date de naissance</th>
                <th>Genre</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let person of persons | filter:searchTerm">
                <td>
                  <input type="checkbox" [(ngModel)]="person.isChecked"/>
                </td>
                <td *ngIf="!person.editMode">{{ person.name }}</td>
                <td *ngIf="person.editMode">
                  <input type="text" [(ngModel)]="person.name" (blur)="updatePerson(person)" />
                </td>
                <td *ngIf="!person.editMode">{{ person.dob }}</td>
                <td *ngIf="person.editMode">
                  <input type="text" [(ngModel)]="person.dob" (blur)="updatePerson(person)" />
                </td>
                <td *ngIf="!person.editMode">{{ person.gender }}</td>
                <td *ngIf="person.editMode">
                  <input type="text" [(ngModel)]="person.gender" (blur)="updatePerson(person)" />
                </td>
                <td>
                  <button class="btn btn-secondary" *ngIf="!person.editMode" (click)="person.editMode = true">Edit</button>
                  <button class="btn btn-primary" *ngIf="person.editMode" (click)="person.editMode = false">Save</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="persons.length === 0">
          No items found.
        </div>
        <button class="btn btn-danger" (click)="deleteChecked()">Delete</button>
      </div>
  </ng-template>
  
  <ng-container *ngTemplateOutlet="personTemplate"></ng-container>
