<ngb-toast *ngIf="showSuccessToast" header="Consultation ajoutée avec succès" [class]="'bg-success text-white'" (hide)="showSuccessToast = false">
    <span>Aller vers la liste des consultations</span>
    <a class="ml-3" (click)="goToConsultationList()" style="color: white;">
      <i class="fa fa-arrow-right"></i>
    </a>
</ngb-toast>
<ngb-toast *ngIf="showErrorToast" header="Erreur lors de l'ajout de la consultation" [class]="'bg-danger text-white'" (hide)="showErrorToast = false">
    <span>{{ errorMessage }}</span>
</ngb-toast>
  
<div class="div-form-consultation">
    <form [formGroup]="consultationForm" (ngSubmit)="onSubmit()" class="row p-4"> 
        <div class="form-group col-md-4">
            <mat-form-field appearance="fill">
                <mat-label>Acte à effectuer</mat-label>
                <input matInput placeholder="Acte à effectuer" formControlName="context" #contextInput>
                <mat-error *ngIf="consultationForm.controls['context'].invalid && consultationForm.controls['context'].touched">
                    Ce champ est obligatoire
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group col-md-4">
            <mat-form-field appearance="fill">
              <mat-label>Patient</mat-label>
              <input matInput [formControl]="myControl" [matAutocomplete]="auto" (input)="onPatientInput()" #patientInput>
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="selectPerson($event.option.value)">
                <mat-option *ngFor="let person of filteredPersons$ | async"  [value]="person">
                  {{ person.name }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        <div class="form-group col-md-4">
            <mat-form-field appearance="fill">
                <mat-label>Date de consultation</mat-label>
                <input matInput [matDatepicker]="picker" placeholder="Date de consultation" formControlName="date_consultation" locale="fr-FR">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="form-group col-md-4">
            <mat-form-field appearance="fill">
                <mat-label>État</mat-label>
                <mat-select formControlName="status" id="status">
                <mat-option [value]="null" disabled>Choisir</mat-option>
                <mat-option *ngFor="let status of statusOptions" [value]="status.value">{{ status.displayValue }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="form-group col-md-4">
            <mat-form-field appearance="fill">
                <mat-label>Séances</mat-label>
                <input matInput type="number" min="0" step="1" placeholder="Séances" formControlName="consultation_count">
                <mat-error *ngIf="consultationForm.controls['consultation_count'].invalid && consultationForm.controls['consultation_count'].touched">
                    Ce champ est obligatoire
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group col-md-4">
            <mat-form-field appearance="fill">
                <mat-label>Prix</mat-label>
                <input matInput type="number" min="0" step="1" placeholder="Prix" formControlName="price" autocomplete="off">
              </mat-form-field>              
        </div>
        <div class="col-12">
            <button type="submit" mat-raised-button color="primary" [disabled]="!isFormValid">Enregistrer</button>
        </div>
        
    </form>
</div>


  

  
